.pointer {
    cursor: pointer;
}



.search-result{
    padding-bottom: 15px;
    padding-top: 15px;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}


p {
    font-size: 12px;
}


ul{

    list-style:none;
    padding: 0px;
}

.flex{
    display: flex;
    flex-direction: row;
}


.loading{
    background-color: #F5F5F5;
    text-align: center;
}


ul:hover{
background-color: #F5F5F5;
}


/* clima */
.header-clima{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.clima{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.icon{
   
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.temp{
    
    display: flex;
    flex-direction: row;
}
.icon h1{
font-size: 40px;
margin: 0px;
}
.icon small{
    padding-bottom: 20px
}


.mat-form-field + .mat-form-field {
    margin-left: 8px;
  }

  .mat-expansion-panel{
box-shadow: none ;
  }
